<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>God's Market</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-default.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-plain.min.css">


	</head>
	<body>
		<div ng-app="game">
			<div id="statsPanel" ng-controller="statsCtrl">
				<h3>Day {{world.day}}</h3>

				<div ng-if="world.active == false ">
					You failed to keep your villagers alive. Ask for forgiveness?
					<button onclick="window.location.reload(false); ">Mercy Plz.</button>
				</div>
				<div ng-if="world.active == true ">
					Keep you villagers alive by feeding them. Make them harvest and mine with scythes and pickaxes.
					Make huts to expand your village.
				</div>
			</div>
			<div id="villageView" ng-controller="gameCtrl">
				<canvas height="400px" id="canvas">
				</canvas>
			</div>

			<div id="sidebar">
				<div class="box" ng-controller="statsCtrl">
					<h3>Village</h3>
					<ul>
						<li>
							Crop Health
							<span class="tooltip stats">
								{{ world.cropStatus.capitalize() }} {{ world.cropsEfficiency }}% <img src="CropIcon.png" alt="Food" height=18em width=18em>
								<div class="tooltiptext">
									Crops are {{ world.cropStatus}}. Gatherers are {{ 100-world.cropsEfficiency }}% likely to not work.
								</div>
							</span>
						</li>
						<li>
							Weather
							<span class="stats">
								<span ng-if="world.weather=='sun'">Sun <img src="Sun.png" alt="" height=18em width=18em></span>
								<span ng-if="world.weather=='rain'">Rain <img src="Rain.png" alt="" height=18em width=18em></span>
							</span>
						</li>
					</ul>

				</div>

				<div class="box" ng-controller="tradeCtrl">
					<h3>Trade with God</h3>
					<ul>
						<li ng-repeat="trade in tradeOptions">
							{{trade.sell.number}} {{trade.sell.name}} → {{trade.buy.number}} {{trade.buy.name}}
							<span class="trade tooltip" ng-click="exchange(trade)">
								Trade
								<div class="tooltiptext" ng-if="trade.tooltip() != undefined">
									{{trade.tooltip()}}
								</div>
							</span>
						</li>
					</ul>
				</div>

				<div class="box" ng-controller="possessionsCtrl">
					<h3>Assets</h3>
					<ul>
						<div ng-repeat="hut in possesions.huts">
							Hut {{hut.hutNumber+1}}
							<li ng-repeat="person in hut.inhabitants">
								 ‣ {{person.role.capitalize()}} {{person.name}} <span class="stats" ng-click="feed(person)">{{person.food}} <img src="Meat.png" alt="Food" height=18em width=18em> </span>
							</li>
						</div>
						<hr>
						<li ng-repeat="thing in possesions.materials">
							{{thing.number}} {{thing.name}}
						</li>
					</ul>

				</div>

			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
		<script src="name.js"></script>
		<script src="villager.js"></script>
		<script src="Rain.js"></script>
		<script src="Hut.js"></script>
		<script src="cam.js"></script>
		<script src="app.js"></script>
		<script src="gameCtrl.js"></script>

	</body>
</html>
